@{
    foreach (string s in ViewBag.cabecalho){
        <p>@s</p>
    }

    foreach (var o in ViewBag.listaServicos)
    {
        <p>@o.Descricao, @o.Quantidade.ToString(), @o.TempoPrevisto.ToString(), @o.InicioServico.ToString(), 
        @o.FimServico.ToString(), @o.ServicoAprovado.ToString(), @o.CustoHora.ToString()</p>
    }
}