@using CRM_Auto.Models
@model OficinaModel

@{
    Layout = "../Shared/_Layout_Cadastro_Funcionario.cshtml";
}

<header class="header" id="header">
    <div class="header_toggle">
        <i class='bx bx-menu' id="header-toggle"></i>
    </div>

</header>

<div class="l-navbar" id="nav-bar">
    <nav class="nav">
        <div>
            <div href="#" class="col p-2">
                <img src="~/img/crmautodark.jpg" class="img-fluid" alt="CRM Auto" style="width: 60%; height: auto; margin-left: -10px; margin-top: -15px;">
            </div>
            <div class="nav_list">
                <a href="/Oficina/Sucesso" class="nav_link active">
                    <i class='bx bx-grid-alt nav_icon' data-bs-toggle="tooltip" title="Painel"></i>
                    <span class="nav_name">Painel</span>
                </a>
                <a href="/Oficina/OrdemServico" class="nav_link">
                    <i class='bi bi-clipboard2-minus-fill nav_icon' data-bs-toggle="tooltip" title="Ordens de serviços"></i>
                    <span class="nav_name">Ordens de serviços</span>
                </a>
                </a>
                <a href="/Oficina/CadastroVeiculo" class="nav_link">
                    <i class='fas fa-car-alt nav_icon' data-bs-toggle="tooltip" title="Veículos"></i>
                    <span class="nav_name">Veículos</span>
                </a>
                <a asp-controller="Oficina" asp-action="BuscarOficinas" class="nav_link">
                    <i class="bi bi-wrench-adjustable nav_icon" data-bs-toggle="tooltip" title="Oficinas"></i>
                    <span class="nav_name">Oficinas</span>
                </a>
                <a asp-controller="Oficina" asp-action="BuscarFuncionariosEOficinas" class="nav_link">
                    <i class='bi bi-person-video2 nav_icon' data-bs-toggle="tooltip" title="Funcionários"></i>
                    <span class="nav_name">Funcionários</span>
                </a>
                <a asp-controller="Oficina" asp-action="BuscarServicos" class="nav_link">
                    <i class='bi bi-bag-plus nav_icon' data-bs-toggle="tooltip" title="Serviços"></i>
                    <span class="nav_name">Serviços</span>
                </a>
                <a asp-controller="Oficina" asp-action="GerarRelatorioEmPDFFuncionarios" class="nav_link">
                    <i class='bx bx-bar-chart-alt-2 nav_icon' data-bs-toggle="tooltip" title="Relatórios"></i>
                    <span class="nav_name">Relatórios</span>
                </a>
            </div>
        </div>
        <a href="/Home/Index" class="nav_link">
            <i class='bx bx-log-out nav_icon' data-bs-toggle="tooltip" title="Sair"></i>
            <span class="nav_name">Sair</span>
        </a>
    </nav>
</div>

<div class="mx-auto" id="main">
    <h2 style="font-weight: bold; margin-top: 40px; margin-bottom: 30px">Oficinas</h2>

    <div class="container">
        <div class="row">
            <div class="input-group col-sm">
                <span class="input-group-text" id="basic-addon1"><i class="bi bi-search small"></i></span>
                <input id="tableSearch" type="text" class="form-control col-5" placeholder="Pesquise uma oficina" aria-label="Username" aria-describedby="basic-addon1">
            </div>
            <div class="col-sm">
                <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#addOficina"><i class="bi bi-plus"></i>Nova oficina</button>
            </div>
        </div>
    </div>

    @{
        <div onload="init" class="tbl-container bdr" asp-controller="Oficina">
            <table class="table align-middle mb-0 bg-white table-striped table-bordered" id="showTable">
                <thead class="bg-light">
                    <tr>
                        <th>Nome</th>
                        <th>CNPJ</th>
                        <th>Contato</th>
                        <th>Endereço</th>
                        <th>Opções</th>
                    </tr>
                </thead>
                <tbody id="table-contatos">

                    @foreach (OficinaModel oficina in ViewBag.BuscarOficinas)
                    {
                        <tr>
                            <td scope="row">
                                <p class="fw-bold mb-1">@oficina.Nome_oficina</p>
                                <p class="text-muted mb-0">@oficina.Apelido</p>
                            </td>
                            <td>
                                <p class="fw-normal mb-1">@oficina.Cnpj</p>
                            </td>
                            <td>
                                <p class="fw-normal mb-1">@oficina.Email</p>
                                <p class="fw-normal mb-1">@oficina.Telefone1</p>
                                <p class="fw-normal mb-1">@oficina.Telefone2</p>
                            </td>
                            <td>
                                <p class="fw-normal mb-1"> @oficina.Logradouro @oficina.Numero, @oficina.Complemento</p>
                                <p class="text-muted mb-0">@oficina.Bairro, @oficina.Cidade - @oficina.Cidade</p>
                                <p class="text-muted mb-0">CEP @oficina.Cep</p>
                            </td>
                            <td>
                                <button type="button"
                                    lass="btn btn-link btn-rounded btn-sm fw-bold"
                                    data-mdb-ripple-color="dark" data-placement="right" title="Edit" data-toggle="modal" data-target="#editOficina"
                                    value="@System.Text.Json.JsonSerializer.Serialize(oficina)">
                                    <i class="bi bi-pencil-fill"></i>
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
</div>

<!------------------------------------MODAL-------------------------------------->
@{
    <div class="modal fade modal-fullscreen-xl hide modal" id="addOficina" tabindex="-1" role="dialog" aria-labelledby="addOficinaLabel" aria-hidden="true" style="width: 100% !important; border: 0">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header border-bottom-0">
                    <h5 class="modal-title" id="addOficinaLabel">Cadastre uma nova oficina</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" asp-controller="Oficina" asp-action="BuscarOficinas">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <form asp-controller="Oficina">
                    <div class="modal-body">
                        <div class="form-group col-5">
                            <label for="inputCNPJ">CNPJ (*)</label>
                            <input type="text" class="form-control" id="inputCNPJ" required placeholder="Informe o CNPJ " asp-for="Cnpj">
                        </div>

                        <div class="form-group col-8">
                            <label for="inputNome">Nome (*)</label>
                            <input type="text" class="form-control" id="inputNome" required placeholder="Informe o Nome" asp-for="Nome_oficina">
                        </div>

                        <div class="form-group col-8">
                            <label for="inputNome">Apelido (*)</label>
                            <input type="text" class="form-control" id="inputApelido" required placeholder="Informe o Apelido" asp-for="Apelido">
                        </div>

                        <div class="form-group col-8">
                            <label for="inputNome">Inscrição Estadual (*)</label>
                            <input type="text" class="form-control" id="inputInscrição Estadual" required placeholder="Informe a Inscrição Estadual" asp-for="Insc_estadual">
                        </div>

                        <div class="form-group col-8">
                            <label for="inputNome">Inscrição Municipal (*)</label>
                            <input type="text" class="form-control" id="inputInscrição Municipal" required placeholder="Informe a Inscrição Municipal" asp-for="Insc_municipal">
                        </div>

                        <div class="form-group col-6">
                            <label for="inputNome">CEP (*)</label>
                            <input type="text" class="form-control" id="inputCep" required placeholder="Informe o Cep" asp-for="Cep">
                        </div>

                        <div class="form-group col-8">
                            <label for="inputNome">Logradouro (*)</label>
                            <input type="text" class="form-control" id="inputLogradouro" required placeholder="Informe o Logradouro" asp-for="Logradouro">
                        </div>

                        <div class="form-group row">
                            <div class="form-group col-4">
                                <label for="inputNome">Número (*)</label>
                                <input type="text" class="form-control" id="inputNumero" required placeholder="Informe o Número" asp-for="Numero">
                            </div>

                            <div class="form-group col-4">
                                <label for="inputNome">Complemento(*)</label>
                                <input type="text" class="form-control" id="inputComplemento" required placeholder="Complemento" asp-for="Complemento">
                            </div>
                        </div>

                        <div class="form-group col-8">
                            <label for="inputNome">Bairro (*)</label>
                            <input type="text" class="form-control" id="inputBairro" required placeholder="Informe o Bairro" asp-for="Bairro">
                        </div>

                        <div class="form-group col-8">
                            <label for="inputNome">Cidade (*)</label>
                            <input type="text" class="form-control" id="inputCidade" required placeholder="Informe a Cidade" asp-for="Cidade">
                        </div>

                        <div class="form-group row">
                            <div class="form-group col-6">
                                <label for="inputNome">Telefone 1 (*)</label>
                                <input type="text" class="form-control" id="inputTelefone1" required placeholder="Informe o Telefone 1" asp-for="Telefone1">
                            </div>

                            <div class="form-group col-6">
                                <label for="inputNome">Telefone 2</label>
                                <input type="text" class="form-control" id="inputTelefone2" required placeholder="Informe o Telefone 2" asp-for="Telefone2">
                            </div>
                        </div>

                        <div class="form-group col-8">
                            <label for="inputNome"> E-mail (*)</label>
                            <input type="text" class="form-control" id="inputEmail" required placeholder="Informe o E-mail" asp-for="Email">
                        </div>


                        <div class="form-group col-8">
                            <label for="inputSite">Oficina (*)</label>
                            <input type="text" class="form-control" id="inputOficina" required placeholder="Informe a Oficina" asp-for="Id_oficina">
                        </div>


                        <div class="col-sm-8">
                            <label for="inputSite">Opção (*)</label>
                            <input type="text" class="form-control" id="inputOpOficina" asp-for="Opcao_cadastro">
                        </div>

                        <div class="form-group row">
                            <div class="form-group">
                                <small>(*) Campos obrigatórios</small>
                            </div>
                        </div>

                        <div class="form-group row pb-3 float-end">
                            <div class="col-sm-17">
                                <button type="submit" class="btn btn-success btn-sm" id="btnInsert" asp-action="InserirOficina">Inserir</button>
                                <button type="submit" class="btn btn-secondary btn-sm" id="btnClear">Limpar Form</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
}

<!------------------------------------MODAL-------------------------------------->
<div class="modal fade modal-fullscreen-xl hide modal" id="editOficina" tabindex="-1" role="dialog" aria-labelledby="addOficinaLabel" aria-hidden="true" style="width: 100% !important; border: 0">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header border-bottom-0">
                <h5 class="modal-title" id="addOficinaLabel">Edite as informações da oficina</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" asp-controller="Oficina" asp-action="BuscarOficinas">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @{
                <form asp-controller="Oficina">
                    <div class="modal-body">
                        <div class="form-group col-5">
                            <label for="inputCNPJ">CNPJ (*)</label>
                            <input type="text" class="form-control" id="edinputCNPJ" required placeholder="Informe o CNPJ " asp-for="Cnpj">
                        </div>

                        <div class="form-group col-8">
                            <label for="inputNome">Nome (*)</label>
                            <input type="text" class="form-control" id="edinputNome" required placeholder="Informe o Nome" asp-for="Nome_oficina">
                        </div>

                        <div class="form-group col-8">
                            <label for="inputNome">Apelido (*)</label>
                            <input type="text" class="form-control" id="edinputApelido" required placeholder="Informe o Apelido" asp-for="Apelido">
                        </div>

                        <div class="form-group col-8">
                            <label for="inputNome">Inscrição Estadual (*)</label>
                            <input type="text" class="form-control" id="edinputInscrição Estadual" required placeholder="Informe a Inscrição Estadual" asp-for="Insc_estadual">
                        </div>

                        <div class="form-group col-8">
                            <label for="inputNome">Inscrição Municipal (*)</label>
                            <input type="text" class="form-control" id="edinputInscrição Municipal" required placeholder="Informe a Inscrição Municipal" asp-for="Insc_municipal">
                        </div>

                        <div class="form-group col-6">
                            <label for="inputNome">CEP (*)</label>
                            <input type="text" class="form-control" id="edinputCep" required placeholder="Informe o Cep" asp-for="Cep">
                        </div>

                        <div class="form-group col-8">
                            <label for="inputNome">Logradouro (*)</label>
                            <input type="text" class="form-control" id="edinputLogradouro" required placeholder="Informe o Logradouro" asp-for="Logradouro">
                        </div>

                        <div class="form-group row">
                            <div class="form-group col-4">
                                <label for="inputNome">Número (*)</label>
                                <input type="text" class="form-control" id="edinputNumero" required placeholder="Informe o Número" asp-for="Numero">
                            </div>

                            <div class="form-group col-4">
                                <label for="inputNome">Complemento(*)</label>
                                <input type="text" class="form-control" id="dinputComplemento" required placeholder="Complemento" asp-for="Complemento">
                            </div>
                        </div>

                        <div class="form-group col-8">
                            <label for="inputNome">Bairro (*)</label>
                            <input type="text" class="form-control" id="edinputBairro" required placeholder="Informe o Bairro" asp-for="Bairro">
                        </div>

                        <div class="form-group col-8">
                            <label for="inputNome">Cidade (*)</label>
                            <input type="text" class="form-control" id="edinputCidade" required placeholder="Informe a Cidade" asp-for="Cidade">
                        </div>

                        <div class="form-group row">
                            <div class="form-group col-6">
                                <label for="inputNome">Telefone 1 (*)</label>
                                <input type="text" class="form-control" id="edinputTelefone1" required placeholder="Informe o Telefone 1" asp-for="Telefone1">
                            </div>

                            <div class="form-group col-6">
                                <label for="inputNome">Telefone 2</label>
                                <input type="text" class="form-control" id="edinputTelefone2" required placeholder="Informe o Telefone 2" asp-for="Telefone2">
                            </div>
                        </div>

                        <div class="form-group col-8">
                            <label for="inputNome"> E-mail (*)</label>
                            <input type="text" class="form-control" id="edinputEmail" required placeholder="Informe o E-mail" asp-for="Email">
                        </div>


                        <div class="form-group col-8">
                            <label for="inputSite">Oficina (*)</label>
                            <input type="text" class="form-control" id="edinputOficina" required placeholder="Informe a Oficina" asp-for="Id_oficina">
                        </div>


                        <div class="col-sm-8">
                            <label for="inputSite">Opção (*)</label>
                            <input type="text" class="form-control" id="edinputOpOficina" asp-for="Opcao_cadastro">
                        </div>

                        <div class="form-group row">
                            <div class="form-group">
                                <small>(*) Campos obrigatórios</small>
                            </div>
                        </div>

                        <div class="form-group row pb-3 float-end">
                            <div class="col-sm-17">
                                <button type="submit" class="btn btn-warning btn-sm" id="btnUpdate" asp-action="AlterarOficina">Alterar</button>
                                <button type="submit" class="btn btn-secondary btn-sm" id="btnClear">Limpar Form</button>
                            </div>
                        </div>
                    </div>
                </form>

            }
        </div>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="app.js"></script>
<script>
    function exibeContatos() {
        // Remove todas as linhas do corpo da tabela
        $("#table-contatos").html("");
        // Popula a tabela com os registros do banco de dados
        for (i = 0; i < db.data.length; i++) {
            let contato = db.data[i];
            $("#table-contatos").append(`<tr><td scope="row">${contato.id}</td>
                                                                <td>${contato.nome}</td>
                                                                <td>${contato.matricula}</td>
                                                                <td>${contato.email}</td>
                                                                <td>${contato.cidade}</td>
                                                                <td>${contato.categoria}</td>
                                                                <td>${contato.website}</td>
                                                            </tr>`);
        }
    }
    function init() {
        // Adiciona funções para tratar os eventos
        $("#btnInsert").click(function() {
            // Verfica se o formulário está preenchido corretamente
            if (!$('#form-contato')[0].checkValidity()) {
                displayMessage("Preencha o formulário corretamente.");
                return;
            }
            // Obtem os valores dos campos do formulário
            let campoNome = $("#inputNome").val();
            let campoMatricula = $("#inputTelefone").val();
            let campoEmail = $('#inputEmail').val();
            let campoCidade = $("#inputCidade").val();
            let campoCategoria = $('#inputCategoria').val();
            let campoSite = $('#inputSite').val();
            let contato = {
                nome: campoNome,
                matricula: campomatricula,
                email: campoEmail,
                cidade: campoCidade,
                categoria: campoCategoria,
                website: campoSite
            };
            insertContato(contato);
            // Reexibe os contatos
            exibeContatos();
            // Limpa o formulario
            $("#form-contato")[0].reset();
        });
        // Intercepta o click do botão Alterar
        $("#btnUpdate").click(function() {
            // Obtem os valores dos campos do formulário
            let campoId = $("#inputId").val();
            if (campoId == "") {
                displayMessage("Selecione um contato para ser alterado.");
                return;
            }
            let campoNome = $("#inputNome").val();
            let campoMatricula = $("#inputMatricula").val();
            let campoEmail = $("#inputEmail").val();
            let campoCidade = $("#inputCidade").val();
            let campoCategoria = $("#inputCategoria").val();
            let campoSite = $('#inputSite').val();
            let contato = {
                nome: campoNome,
                matricula: campoMatricula,
                email: campoEmail,
                cidade: campoCidade,
                categoria: campoCategoria,
                website: campoSite
            };
            updateContato(parseInt(campoId), contato);
            // Reexibe os contatos
            exibeContatos();
            // Limpa o formulario
            $("#form-contato")[0].reset();
        });
        // Intercepta o click do botão Excluir
        $("#btnDelete").click(function() {
            let campoId = $("#inputId").val();
            if (campoId == "") {
                displayMessage("Selecione um contato a ser excluído.");
                return;
            }
            deleteContato(parseInt(campoId));
            // Reexibe os contatos
            exibeContatos();
            // Limpa o formulario
            $("#form-contato")[0].reset();
        });
        // Intercepta o click do botão Listar Contatos
        $("#btnClear").click(function() {
            $("#form-contato")[0].reset();
        });
        // Oculta a mensagem de aviso após alguns segundos
        $('#msg').bind("DOMSubtreeModified", function() {
            window.setTimeout(function() {
                $(".alert").fadeTo(500, 0).slideUp(500, function() {
                    $(this).remove();
                });
            }, 5000);
        });
        // Preenche o formulário quando o usuario clicar em uma linha da tabela
        $("#grid-contatos").on("click", "tr", function(e) {
            let linhaContato = this;
            colunas = linhaContato.querySelectorAll("td");
            $("#inputId").val(colunas[0].innerText);
            $("#inputNome").val(colunas[1].innerText);
            $("#inputmatricula").val(colunas[2].innerText);
            $("#inputEmail").val(colunas[3].innerText);
            $("#inputCidade").val(colunas[4].innerText);
            $("#inputCategoria").val(colunas[5].innerText);
            $("#inputSite").val(colunas[6].innerText);
        });
        exibeContatos();
    }

    $(".btnEditFuncionario").click(function() {
        var valor = JSON.parse($(this).val());
        $("#editIdFuncionario").val(valor.Id_funcionario);
        $("#editFuncionarioNome").val(valor.Nome);
        $("#editFuncionarioFuncao").val(valor.Funcao);

        var buscarOficinas = JSON.parse($("#hiddenBuscarOficinas").val());

        $('#editFuncionarioOficina').find('option').remove().end().append('<option value="">Selecione...</option>');

        for (var n = 0; n < buscarOficinas.length; n++) {
            $('#editFuncionarioOficina').append($('<option>', {
                value: buscarOficinas[n].Id_oficina,
                text: buscarOficinas[n].Nome_oficina
            }));
        }

        $('#editFuncionarioOficina option[value="' + valor.Id_oficina + '"]').prop("selected", true);
    });


</script>



