@using CRM_Auto.Models
@model ClienteModel

@{
    Layout = "../Shared/_Layout_Cadastro_Cliente.cshtml";
}
 
@{
    <div class="mx-auto" id="main"> 
        <h2>Lista de cliente</h2>

        <div class="container">
            <div class="row">
                <div class="input-group inp-pesquisa">
                    <span class="input-group-text" id="basic-addon1"><i class="bi bi-search small"></i></span>
                    <input id="tableSearch" type="text" class="form-control col-5" placeholder="Pesquise um cliente" aria-label="Username" aria-describedby="basic-addon1">
                </div>
                <div class="input-group btn-novo-cadastro">
                    <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#editaCliente"><i class="bi bi-plus"></i> Novo cliente</button>
                </div>
            </div>
        </div>
    
        <div onload="init" class="tbl-container bdr" asp-controller="Oficina">
            <table class="table align-middle mb-0 bg-white table-striped table-bordered" id="showTable">
                <thead class="bg-light">
                    <tr>
                        <th>ID</th>
                        <th>Nome</th>
                        <th>Nº documento</th>
                        <th>Contato</th>
                        <th>Ordem serviço</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody id="table-lista-cliente">
                    @foreach (ClienteModel cliente in ViewBag.ListarClientes)
                    {
                        <tr>
                            <td scope="row">
                                <p class="fw-bold mb-1">@cliente.Id_cliente</p> @*Item 0*@
                            </td>
                            <td>
                                <p class="fw-bold mb-1">@cliente.Nome_cliente</p> @*Item 1*@
                            </td>
                            <td>
                                <p class="fw-normal mb-1">@cliente.Cnpj_cpf</p> @*Item 2*@
                            </td>
                            <td>
                                <p class="fw-normal mb-1">@cliente.Email_nf</p> @*Item 3*@
                                <p class="fw-normal mb-1">@cliente.Celular</p>
                            </td>
                            <td >@cliente.Cnpj_ou_cpf</td>  @*Item 4*@
                            <td hidden="true">@cliente.Apelido</td> @*Item 5*@
                            <td >@cliente.Data_nascimento</td> @*Item 6*@
                            <td hidden="true">@cliente.Data_cadastro</td> @*Item 7*@
                            <td hidden="true">@cliente.Cep</td> @*Item 8*@
                            <td hidden="true">@cliente.Logradouro</td> @*Item 9*@
                            <td hidden="true">@cliente.Numero</td> @*Item 10*@
                            <td hidden="true">@cliente.Complemento</td> @*Item 11*@
                            <td hidden="true">@cliente.Bairro</td> @*Item 12*@
                            <td hidden="true">@cliente.Cidade</td> @*Item 13*@
                            <td hidden="true">@cliente.Estado</td> @*Item 14*@
                            <td hidden="true">@cliente.Telefone</td> @*Item 15*@
                            <td hidden="true">@cliente.Celular</td> @*Item 16*@
                            <td>
                                <button type="button"
                                    class="btn btn-link btn-rounded btn-sm fw-bold" data-mdb-ripple-color="dark" data-placement="right" 
                                    title="Edit" data-toggle="modal" data-target="#editaCliente"
                                    value="@System.Text.Json.JsonSerializer.Serialize(cliente)" onclick="passarValores()">
                                    <i class="bi bi-pencil-fill"></i>
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}

@* MODAL PARA CADASTRO E EDIÇÃO DE CLINTES *@
@{
<div class="modal fade bd-example-modal-lg" id="editaCliente" tabindex="-1" role="dialog" aria-labelledby="addClienteLabel" aria-hidden="true" style="width: 100% !important; border: 0">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form asp-controller="Oficina">
                <div class="modal-body">
                    <span id="dataCadastro" style="float: right;"></span>
                    <input type="text" id="inputId" asp-for="Id_cliente"> @*disabled hidden="true"*@   @*Item 0 da tabale*@
                    <div class="row">
                        <div class="form-group col-md-3">
                            <label for="cpf_cnpj">Informe o CPF</label>   @*Item 2 da tabale*@
                            <input type="text" class="form-control obrigatorio cpf" id="cpf_cnpj" name="cpf" placeholder="11.222.333-33" maxlength="14" asp-for="Cnpj_cpf">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="tipo-pessoa">Selecione o tipo de pessoa</label>
                            <select name="tipoPessoa" id="tipo-pessoa" class="form-select">  @*Item 4 da tabale*@
                                <option selected>Selecione...</option>
                                <option value="F">Pessoa física</option>
                                <option value="J">Pessoa jurídica</option>
                            </select>
                        </div>
                    </div>                    
                    <div class="row linhas">
                        <div class="form-group col-md-7">
                            <label for="nomeCliente">Nome do cliente</label>  @*Item 1 da tabale*@
                            <input type="text" class="form-control" id="nomeCliente" placeholder="Nome do cliente">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="idApelido">Apelido</label>  @*Item 5 da tabale*@
                            <input type="text" class="form-control" id="idApelido" placeholder="Apelido do cliente">
                        </div>
                        <div class="form-group col-md-2">
                            <label for="idDtNascimento">Data nascimento</label> @*Item 6 da tabale*@
                            <input type="text" class="form-control" id="idDtNascimento" placeholder="00/00/0000">
                        </div>
                    </div>

                    <div class="TabControl mt-3">
                        <div id="header">
                            <ul class="abas">
                                <li onclick="AtivaAba('abaRes')">
                                    <div class="aba" >
                                        <span>Residencial</span>
                                    </div>
                                </li>
                                <li onclick="AtivaAba('abaVeiculo')">
                                    <div class="aba">
                                        <span>Veículos</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div id="content">
                            <div id="abaRes" class="conteudo" style="display: block"> @*<!-- INÍCIO ABA RESIDENCIAL -->*@
                                <div id="row-pg-1" class="row">
                                    <div id="app" class="form-group col-md-2">
                                        <label for="cep">CEP</label>  @*Item 8 da tabale*@
                                        <input type="text" class="form-control" v-model="cep" id="cep" onclick="this.value=''" maxlength="8">
                                    </div>
                                    <div class="form-group col-md-8"> @*<!-- INÍCIO DIV CONTEÚDO DO FORM LOGRADOURO -->*@
                                        <label for="endereco">Endereço</label> @*Item 9 da tabale*@
                                        <input type="text" class="form-control" id="endereco" placeholder="Rua, avenida, praça, fazenda...">
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label for="numero">Número</label> @*Item 10 da tabale*@
                                        <input type="text" class="form-control" id="numero" placeholder="">
                                    </div>
                                </div> @*<!-- FIM DIV CONTEÚDO DO FORM LOGRADOURO -->*@
                                    
                                <div id="row-pg-2" class="row">
                                    <div class="form-group col-md-5">
                                        <label for="bairro">Bairro</label> @*Item 12 da tabale*@
                                        <input type="text" class="form-control" id="bairro">
                                    </div>
                                    <div class="form-group col-md-5">
                                        <label for="cidade">Cidade</label> @*Item 13 da tabale*@
                                        <input type="text" class="form-control" id="cidade">
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label for="estado">Estado</label> @*Item 14 da tabale*@
                                        <select id="estado" class="form-select">
                                            <option value="AC">AC</option>
                                            <option value="AL">AL</option>
                                            <option value="AM">AM</option>
                                            <option value="AP">AP</option>
                                            <option value="BA">BA</option>
                                            <option value="CE">CE</option>
                                            <option value="DF">DF</option>
                                            <option value="ES">ES</option>
                                            <option value="GO">GO</option>
                                            <option value="MA">MA</option>
                                            <option value="MG">MG</option>
                                            <option value="MS">MS</option>
                                            <option value="MT">MT</option>
                                            <option value="PA">PA</option>
                                            <option value="PB">PB</option>
                                            <option value="PE">PE</option>
                                            <option value="PI">PI</option>
                                            <option value="PR">PR</option>
                                            <option value="RJ">RJ</option>
                                            <option value="RN">RN</option>
                                            <option value="RO">RO</option>
                                            <option value="RR">RR</option>
                                            <option value="RS">RS</option>
                                            <option value="SC">SC</option>
                                            <option value="SE">SE</option>
                                            <option value="SP">SP</option>
                                            <option value="TO">TO</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <label for="complemento">Complemento</label> @*Item 11 da tabale*@
                                        <input type="text" class="form-control" id="complemento" placeholder="Apartamento, casa, lote...">
                                    </div>
                                </div>
                                <div id="row-pg-3" class="row"> @*<!-- INICIO DIV CIDADE E ESTADO -->*@
                                    <div class="form-group col-md-3">
                                        <label for="telefone">Telefone</label> @*Item 15 da tabale*@
                                        <input type="tel" class="form-control" id="telefone" placeholder="(98) 9999-8888" asp-for="Telefone">
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label for="celular">Celuar</label> @*Item 16 da tabale*@
                                        <input type="tel" class="form-control" id="celular" placeholder="(98) 98888-7777" asp-for="Celular">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="email">Email</label>  @*Item 3 da tabale*@
                                        <input type="email" class="form-control email" id="email" placeholder="crm.auto@crmauto.com.br" asp-for="Email_nf">
                                    </div>
                                </div>
                            </div>
                            <div id="abaVeiculo" class="conteudo" style="display: none">
                                
                                    <div class="row">
                                        <div class="form-group col-md-3">
                                            <label class="form-label">Placa do veículo</label>
                                            <select id="idMarcaVeiculo" class="form-control" onchange="SelectMarca(this)">
                                                <option>Selecione a marca</option>
                                                @* @foreach (ClienteModel marca in ViewBag.ListarClientes)
                                                {
                                                    <option value="@marca.IdMarca">@marca.MarcaNome</option>
                                                } *@
                                            </select>
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label asp-for="IdModelo" class="form-label"></label>
                                            <select id="sModeloSelect" asp-for="IdModelo" class="form-control">
                                                <option>Selecione o modelo</option>
                                            </select>
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label asp-for="Placa" class="form-label"></label>
                                            <input asp-for="Placa" class="form-control"/>
                                        </div>
                                    </div>
                                @* <form asp-action="OperacaoCadVeiculoCliente">
                                    <div class="row">
                                        <div class="form-group col-md-2">
                                            <label asp-for="Motorizacao">Motorização</label>
                                            <input class="form-control" asp-for="Motorizacao">
                                        </div>
                                        <div class="form-group col-md-2">
                                            <label asp-for="AnoFabricacao">Ano de fabricação</label>
                                            <input class="form-control" asp-for="AnoFabricacao">
                                        </div>
                                        <div class="form-group col-md-2">
                                            <label asp-for="AnoModelo">Ano modelo</label>
                                            <input class="form-control" asp-for="AnoModelo">
                                        </div>
                                        <div class="form-group col-md-2">
                                            <label asp-for="Renavan"></label>
                                            <input class="form-control" asp-for="Renavan">
                                        </div>
                                        <div class="form-group col-md-2">
                                            <label asp-for="Cor"></label>
                                            <select class="form-control" asp-for="Cor" asp-items="@Html.GetEnumSelectList<Cor>()">
                                                <option>Selecione a cor</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div>
                                        <input type="submit" id="ok" name="ok" class="btn btn-primary" value="Ok">
                                    </div>
                                </form>     *@
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="form-group">
                        <small>(*) Campos obrigatórios</small>
                        </div>
                    </div>
                
                    <div class="form-group row pb-3 float-end">
                        <div class="col-sm-17">
                            <button type="button" class="btn btn-success btn-sm btn-novo" onclick="limpaCampos()">Novo</button>
                            <button type="submit" class="btn btn-primary btn-sm btn-atualizar" asp-action="SalvarRegistroCliente">Salvar</button>
                            <button type="submit" class="btn btn-danger btn-sm btn-excluir"  asp-action="ExcluirRegistroCliente">Excluir</button>
                            <button type="button" class="btn btn-secondary btn-sm btn-fechar" data-dismiss="modal" aria-label="Close" onclick="limpaCampos()">Fechar</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
}