@{
    Layout = "../Shared/_Layout_Menu_Funcionario.cshtml";
}

<div class="container-fluid p-1 rounded" style="background-color: #687A86">
    <img src="~/img/crmauto.jpg" alt="CRM Auto" width="120" height="70" style="margin-left: 1rem;"><span class="navbar-brand mb-0 h1" style="color:antiquewhite;">Painel de controle da oficina</span>
</div>
<br />

<div class="toast-body" style="align-content:center; align-items:center; align-self:center;">
    <h1>Seja bem-vindo (a), <b>@TempData["Nome"]</b>!</h1>
    <br />
    <p>O que você deseja fazer?</p>
</div>

<div class="align-content-center" style="margin-left: 250px;">
<div class="container justify-content-center">
    <div class="row justify-content-center">
        <div class="col-md-6" style="margin-right: -140px">
            <a type="button" class="btn btn-lg" style="font-weight: bold; height: 85px" asp-controller="Oficina" asp-action="BuscarFuncionariosEOficinas">Menu funcionários</a>
        </div>

    @if (TempData["ordemEditada"] != null)
    {
        <div class="alert alert-warning">
            @TempData["ordemEditada"]
        </div>
    }

    <div class="container">
        <div class="row">
            <div class="input-group col-sm">
                <span class="input-group-text" id="basic-addon1"><i class="bi bi-search small"></i></span>
                <input id="tableSearch" type="text" class="form-control col-5" placeholder="Pesquise uma ordem de serviço" aria-label="Username" aria-describedby="basic-addon1">
            </div>
            <div class="col-sm">
                <a class="btn btn-success btn-sm" asp-action="OrdemServico"><i class="bi bi-plus"></i> Cadastrar O.S.</a>
            </div>
        </div>
    </div>


    <div onload="init" class="tbl-container bdr" asp-controller="Oficina">
        <input type="hidden" id="hiddenBuscarOficinas" />
        <table class="table align-middle mb-0 bg-white table-striped table-bordered" id="showTable">
            <thead class="bg-light">
                <tr>
                    <th>Código O.S.</th>
                    <th>Cliente</th>
                    <th>Data de Emissão</th>
                    <th>Telefone (cliente)</th>
                    <th>Identificação do Veículo</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="table-contatos">

                @foreach (SucessoModel os in ViewBag.ListaOS)
                {
                    <tr>
                        <td scope="row">

                            <p class="fw-bold mb-1">@os.IdOrdemServico</p>

                        </td>
                        <td>
                            <p class="fw-normal mb-1">@os.NomeCliente</p>
                        </td>
                        <td>
                            <p class="fw-normal mb-1">@os.DataOrdem</p>
                        </td>
                        <td>
                            <p class="text-muted mb-0">@os.CelularCliente</p>
                        </td>
                        <td>
                            <p class="text-muted mb-0">@os.PlacaVeiculo</p>
                        </td>
                        <td>
                            <a class="btn btn-sm btn-outline-dark">Exibir detalhes</a>
                            <form asp-action="EditarOS">
                                <input type="hidden" value="@os.IdOrdemServico" name="id"/>
                                <input type="submit" class="btn btn-sm btn-outline-warning" value="Editar" />
                            </form> 
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

        <div class="col-md-6">
            <a type="button" href="#" class="btn btn-lg" style="font-weight: bold; height: 85px">Menu clientes</a>
        </div>


<div class="container justify-content-center">
     <div class="row justify-content-center">
        <div class="col-md-6" style="margin-right: -140px">
            <a type="button" class="btn btn-lg" style="font-weight: bold; height: 85px" asp-controller="Oficina" asp-action="BuscarOficinas">Menu oficinas</a>
        </div>

        <div class="col-md-6">
            <a type="button" class="btn btn-lg" style="font-weight: bold; height: 85px" asp-controller="Oficina" asp-action="CadastroVeiculo">Menu veículos</a>
        </div>
    </div>

</div>
</div>
<!-- Footer -->
<footer class="bg-light text-center fixed-bottom">
    <!-- Copyright -->
    <div class="text-center text-white p-2" style="background-color: #687a86ee">
        <a>© Copyright CRM Auto 2022</a>
    </div>
    <!-- Copyright -->
</footer>