@{
    Layout = "../Shared/_Layout_Cadastro_Funcionario.cshtml";
}

<header class="header" id="header">
    <div class="header_toggle">
        <i class='bx bx-menu' id="header-toggle"></i>
    </div>
</header>

<div class="l-navbar" id="nav-bar">
    <nav class="nav">
        <div>
            <div href="#" class="col p-2">
                <img src="~/img/crmautodark.jpg" class="img-fluid" alt="CRM Auto" style="width: 60%; height: auto; margin-left: -10px; margin-top: -15px;">
            </div>
            <div class="nav_list">
                <a href="/Oficina/Sucesso" class="nav_link active">
                    <i class='bx bx-grid-alt nav_icon' data-bs-toggle="tooltip" title="Painel"></i>
                    <span class="nav_name">Painel</span>
                </a>
                <a href="#" class="nav_link">
                    <i class='bx bx-message-square-detail nav_icon' data-bs-toggle="tooltip" title="Ordens de serviços"></i>
                    <span class="nav_name">Ordens de serviços</span>
                </a>
                <a href="#" class="nav_link">
                    <i class='bi bi-people nav_icon' data-bs-toggle="tooltip" title="Clientes"></i>
                    <span class="nav_name">Clientes</span>
                </a>
                <a href="#" class="nav_link">
                    <i class="bi bi-wrench-adjustable nav_icon" data-bs-toggle="tooltip" title="Oficina"></i>
                    <span class="nav_name">Oficina</span>
                </a>
                <a href="#" class="nav_link">
                    <i class='bi bi-person-video2 nav_icon' data-bs-toggle="tooltip" title="Funcionários"></i>
                    <span class="nav_name">Funcionários</span>
                </a>
                <a href="#" class="nav_link">
                    <i class='bx bx-bar-chart-alt-2 nav_icon' data-bs-toggle="tooltip" title="Relatórios"></i>
                    <span class="nav_name">Relatórios</span>
                </a>
            </div>
        </div>
        <a href="Homepage.html" class="nav_link">
            <i class='bx bx-log-out nav_icon' data-bs-toggle="tooltip" title="Sair"></i>
            <span class="nav_name">Sair</span>
        </a>
    </nav>
</div>

<div class="mx-auto" id="main">
    <h2 style="font-weight: bold; margin-top: 70px; margin-bottom: 30px">Seja bem-vindo (a), <b>@TempData["Nome"]</b>!</h2>
    @if (TempData["ordemEditada"] != null)
    {
        <div class="alert alert-warning">
            @TempData["ordemEditada"]
        </div>
    }
    <div class="container">
        <div class="row">
            <div class="input-group col-sm">
                <span class="input-group-text" id="basic-addon1"><i class="bi bi-search small"></i></span>
                <input id="tableSearch" type="text" class="form-control col-5" placeholder="Pesquisar ordem de serviço" aria-label="Username" aria-describedby="basic-addon1">
            </div>
            <div class="col-sm">
                <a asp-action="OrdemServico" class="btn btn-success">Abrir nova O.S.</a>
            </div>
        </div>
    </div>


    <div onload="init" class="tbl-container bdr">
        <input type="hidden" id="hiddenBuscarOficinas" />
        <table class="table align-middle mb-0 bg-white table-striped table-bordered" id="showTable">
            <thead class="bg-light">
                <tr>
                    <th>Código O.S.</th>
                    <th>Cliente</th>
                    <th>Data de Emissão</th>
                    <th>Telefone (cliente)</th>
                    <th>Identificação do Veículo</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="table-contatos">

                @foreach (SucessoModel os in ViewBag.ListaOS)
                {
                    <tr>
                        <td scope="row">

                            <p class="fw-bold mb-1">@os.IdOrdemServico</p>

                        </td>
                        <td>
                            <p class="fw-normal mb-1">@os.NomeCliente</p>
                        </td>
                        <td>
                            <p class="fw-normal mb-1">@os.DataOrdem</p>
                        </td>
                        <td>
                            <p class="text-muted mb-0">@os.CelularCliente</p>
                        </td>
                        <td>
                            <p class="text-muted mb-0">@os.PlacaVeiculo</p>
                        </td>
                        <td>
                            <button onclick="buscardetalhe(@os.IdOrdemServico)" type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#detalheOS">
                                Exibir detalhes
                            </button>
                            <form asp-action="EditarOS">
                                <input type="hidden" value="@os.IdOrdemServico" name="id" />
                                <input type="submit" class="btn btn-sm btn-outline-warning" value="Editar" />
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>



<!-- Footer -->
<footer class="bg-light text-center fixed-bottom">
    <!-- Copyright -->
    <div class="text-center text-white p-2" style="background-color: #687a86ee">
        <a>© Copyright CRM Auto 2022</a>
    </div>
    <!-- Copyright -->
</footer>


<!-- Modal -->
<div class="modal fade" id="detalheOS" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Detalhamento</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Serviço</th>
                            <th>Mecânico resp.</th>
                            <th>Valor (un.)</th>
                            <th>Qtde.</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr id="corpoDetalhamento">
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>

    function buscardetalhe(e){
            document.getElementById('corpoDetalhamento').innerHTML = "";
            console.log(e)
            $.post("BuscarDetalhamento", {IdOS: e}, function(result,status,xhr) {
                console.log(`data: ${result}, status: ${status}`);
                if (status === 'success') {
                    const options = $("#corpoDetalhamento");
                    options.innerHTML = "";
                    for (let i = 0; i < result.length; i++) {
                        const item = result[i];
                        console.log(item)
                        options.append('<td>' + item + '</td>');
                    }
                }
            })
        }

</script>